
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uiCookies:Black &mdash; Free Bootstrap Theme, Free Responsive Bootstrap Website Template</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Scripts/styles-merged.css">
    <link rel="stylesheet" href="~/Scripts/style.min.css">
    <link rel="stylesheet" href="~/Scripts/Icons.css">


    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
  <body>

      <!-- START: header -->
      <h1>Auto</h1>
      <div class="probootstrap-loader"></div>


      <!-- END: header -->
      <section class="probootstrap-slider flexslider" style="padding-top:50px;">
          <ul class="slides">
              <li style="background-image: url(/Content/Auto4.jpg);">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12 text-center">
                              <div class="slides-text probootstrap-animate">
                                  <h2 style="background-color: rgba(0, 0, 0, 0.6);">Mclaren.</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li style="background-image: url(/Content/Auto2.jpg);">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12 text-center">
                              <div class="slides-text probootstrap-animate">
                                  <h2 style="background-color: rgba(0, 0, 0, 0.6);">Porsche.</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li style="background-image: url(/Content/Auto3.jpg);">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12 text-center">
                              <div class="slides-text probootstrap-animate">
                                  <h2 style="background-color: rgba(0, 0, 0, 0.6);">Masarati.</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </section>
      <!-- END: slider  -->

      <section class="probootstrap-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="service left-icon probootstrap-animate">

                          <div class="icon">
                              <span class="hex-icon-sun">
                                  <svg>
                                      <path d="M19,1 Q21,0,23,1 L39,10 Q41.5,11,42,14 L42,36 Q41.5,39,39,40 L23,49 Q21,50,19,49 L3,40 Q0.5,39,0,36 L0,14 Q0.5,11,3,10 L19,1" />
                                      <circle cx="21" cy="25" r="8" />
                                      <circle cx="21" cy="25" r="12">
                                          <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 21 25" to="360 21 25" dur="3.5s" repeatCount="indefinite" />
                                      </circle>
                                  </svg>
                              </span>
                          </div>

                          <div class="text">
                              <h3 class="heading">Always have lights on whats Important</h3>
                              <p>With the option to upload images, Mechanics give Customers an actual insight on the repairs going on! </p>
                              <p><a href="single-page.html">Learn more</a></p>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="service left-icon probootstrap-animate">
                          <div class="icon">
                              <span class="hex-icon-wave">
                                  <svg>
                                      <path d="M19,1 Q21,0,23,1 L39,10 Q41.5,11,42,14 L42,36 Q41.5,39,39,40 L23,49 Q21,50,19,49 L3,40 Q0.5,39,0,36 L0,14 Q0.5,11,3,10 L19,1" />
                                      <circle cx="21" cy="25" r="14" />
                                      <mask id="mask-hex-icon-wave">
                                          <circle cx="21" cy="25" r="14">
                                              <animateTransform attributeName="transform" attributeType="XML" type="translate" from="0 0" to="24 0" dur="1.5s" repeatCount="indefinite" />
                                          </circle>
                                      </mask>
                                      <path d="M0,24 Q6,29,12,24 Q18,19,24,24 Q30,29,36,24 Q42,19,48,24 Q54,29,60,24 L60,40 L0,40" mask="url(#mask-hex-icon-wave)">
                                          <animateTransform attributeName="transform" attributeType="XML" type="translate" from="0 0" to="-24 0" dur="1.5s" repeatCount="indefinite" />
                                      </path>
                                  </svg>
                              </span>
                          </div>
                          <div class="text">
                              <h3 class="heading">Convenient Flow</h3>
                              <p>Wrench it is made to be an easy to use website for both customers AND mechanics. Making seamless connections between customer and repairman!</p>
                              <p><a href="single-page.html">Learn more</a></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="service left-icon probootstrap-animate">
                          <div class="icon">
                              <span class="hex-icon-heart">
                                  <svg>
                                      <path d="M19,1 Q21,0,23,1 L39,10 Q41.5,11,42,14 L42,36 Q41.5,39,39,40 L23,49 Q21,50,19,49 L3,40 Q0.5,39,0,36 L0,14 Q0.5,11,3,10 L19,1" />
                                      <path d="M11,17 Q16,14,21,20 Q26,14,31,17 Q35,22,31,27 L21,36 L11,27 Q7,22,11,17" />
                                  </svg>
                              </span>
                          </div>
                          <div class="text">
                              <h3 class="heading">We Care About YOU.</h3>
                              <p>We put the time and effort in to making sure you can keep tabs on the vehicles you care for!  </p>
                              <p><a href="single-page.html">Learn more</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- END section -->

      <div class="probootstrap-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInLeft">

                      <div class="panel-group probootstrap-panel" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingOne">
                                  <h3 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                                          Business Strategy
                                      </a>
                                  </h3>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>


                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingTwo">
                                  <h3 class="panel-title">
                                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Business Marketing
                                      </a>
                                  </h3>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body">
                                      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingThree">
                                  <h3 class="panel-title">
                                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          Business Profit
                                      </a>
                                  </h3>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                  <div class="panel-body">
                                      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- END panel-group -->
                  </div>
                  <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInRight">

                      <figure>
                          <div class="probootstrap-video">

                              <img src="~/Content/Snapon.png" class="img-responsive img-border">
                          </div>
                          <figcaption><h2>We're Sponsored by SnapOn!</h2></figcaption>
                      </figure>

                  </div>
              </div>
          </div>
      </div>
      <!-- END section -->


      <div class="container">
          <div class="probootstrap-cta probootstrap-animate">
              <h2 class="mb20">We are SO happy to see you choosing us for Autommtive needs!</h2>
              <p>Please take a look at our Shops below to learn more about each individual shop, or just to find the one to tailor to your specific vehicle!</p>
              <p><a href="#" role="button" class="btn btn-primary">KEEP SCROLLING :)</a></p>
          </div>
      </div>

      <!-- END section cta -->

      <section class="probootstrap-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 section-heading probootstrap-animate">
                      <h2>Our Shops!</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 probootstrap-animate">
                      <div class="probootstrap-card">
                          <div class="probootstrap-card-media">
                              <a href="single-page.html"><img src="~/Content/Auto02.jpg" class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com"></a>
                          </div>
                          <div class="probootstrap-card-text">
                              <h2 class="probootstrap-card-heading mb0">McLaren</h2>
                              <p class="category">All Models</p>
                              <p>Vrrrrrrrrrr rrrrrrrrrrrr rrrrrrrrrrroooooooo oooooooooooooooooooo oooooooooooooooooo ooooooooooomm mmmmm mmmmmmmm mmmmmm mmmm</p>
                              <p><a href=@Url.Action("ShopOne", "Shops")>View details</a></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 probootstrap-animate">
                      <div class="probootstrap-card">
                          <div class="probootstrap-card-media">
                              <a href="single-page.html"><img src="~/Content/Auto03.jpg" class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com"></a>
                          </div>
                          <div class="probootstrap-card-text">
                              <h2 class="probootstrap-card-heading mb0">Porshe</h2>
                              <p class="category">911 and Panamera models</p>
                              <p>Vrrrrrrrrrr rrrrrrrrrrrr rrrrrrrrrrroooooooo oooooooooooooooooooo oooooooooooooooooo ooooooooooomm mmmmm mmmmmmmm mmmmmm mmmm</p>
                              <p><a href=@Url.Action("ShopTwo", "Shops")>View details</a></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 probootstrap-animate">
                      <div class="probootstrap-card">
                          <div class="probootstrap-card-media">
                              <a href="~/Views/Home/ShopThree.cshtml"><img src="~/Content/Auto01.jpg" class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com"></a>
                          </div>
                          <div class="probootstrap-card-text">
                              <h2 class="probootstrap-card-heading mb0">Masarati</h2>
                              <p class="category">GranTourismo and Levante Exclusively</p>
                              <p>Vrrrrrrrrrr rrrrrrrrrrrr rrrrrrrrrrroooooooo oooooooooooooooooooo oooooooooooooooooo ooooooooooomm mmmmm mmmmmmmm mmmmmm mmmm</p>
                              <p><a href=@Url.Action("ShopThree", "Shops")>View details</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- END section -->
      <div class="gototop js-top">
          <a href="#" class="js-gotop"><i>Go To Top</i></a>
      </div>
      <script src="~/Scripts/scripts.min.js"></script>
      <script src="~/Scripts/main.min.js"></script>
      <script src="~/Scripts/custom.js"></script>


  </body>
</html>