
@{
    ViewBag.Title = "WelcomeM";
}
<link rel="stylesheet" href="~/Scripts/styles-merged.css">
<link rel="stylesheet" href="~/Scripts/style.min.css">
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<h2>
    Welcome <strong>@ViewBag.Name!</strong>Thank you for signing up with Wrench It!
    I see your a Mechanic! Congrats on getting hired with the number one Foreign Automotive/Motorsport
    repair shop in the World! Please <p><a class="btn btn-outline-success" @Html.ActionLink("Click Here!", "Create", "Mechanics")</a></p> to get started making/recieving
    appointments updating extra needed info and MORE!
</h2>



