@{
    Layout = "";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<link rel="stylesheet" href="~/Scripts/styles-merged.css">
<link rel="stylesheet" href="~/Scripts/style.min.css">
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<body style="background-color: black">
</body>
<div class="container">
<div class="row">
    <div class="col-md-6">
        <a href="https://localhost:44373/Home/Index">
            <img class="LeftSide" style="height:90%">
        </a>
        <div class="centered">Auto</div>
    </div>
    <div class="col-md-6">
        <a href="https://localhost:44373/Home/IndexMoto">
            <img class="RightSide" style="height:90%">
        </a>
        <div class="centered">Moto(beta site)</div>
    </div>
</div>
</div>
